block articlesGalleryVars



section(id="#{type}" class="gallery #{type} #{scheme}")
  block blockHeader
    .articles-gallery__header
      h2.articles-gallery__title= title 
      p.articles-gallery__subtitle= subTitle

  .articles-gallery__container
    block streamContent
      mixin dribbbleShot(title, date, img, url)
        a(href="#{url}")
          article.dribbbleShot
            .dribbbleShot__img
              img(src="assets/img/#{img}", alt="#title")
            .dribbbleShot__data
              .dribbbleShot__data-inner
                h3= title
                span= date

      mixin instagramPost(title, location, img, url)
        a(href="#{url}")
          article.instagramPost
            .instagramPost__img
              img(src="assets/img/instagram/#{img}", alt="#title")
            .instagramPost__data
              .instagramPost__data-inner
                h3= title
                span= location

      mixin articlePost(title, excerpt, img, url, date)
        article.articlePost
          a(href="#{url}").articlePost__img
            img(src="assets/img/posts/#{img}", alt="#title")
          .articlePost__data
            h3: a(href="#{url}")= title
            p= excerpt  
  
  .articles-gallery__footer
    block articlesGalleryFooter
